In [2]:
import pandas as pd

In [4]:
merged = pd.read_excel("merged.xls")

In [5]:
merged.head()

,Name,phone,email,date,percentage
0,Holmes Osborne,(00047) 6194103,Cum.sociis.natoque@utodio.edu,"Jul 1, 1977",0.496502
1,Steven Yang,(030064) 049495,tincidunt.Donec@feugiatnecdiam.co.uk,"Sep 11, 1972",0.487364
2,George Goodwin,(08047) 6449507,ipsum.dolor.sit@Vivamuseuismodurna.ca,"Dec 13, 1975",0.450530
3,Jonah Jarvis,(06571) 6135898,eget.lacus.Mauris@Fuscedolorquam.ca,"Jul 15, 1964",0.616850
4,Talon Guerrero,(0207) 79183557,metus.vitae@magna.ca,"May 28, 1985",0.254252