In [1]:
import pandas as pd

In [2]:
merged = pd.read_excel("merged.xls")

In [3]:
merged.head()

,Name,phone,email,date,percentage
0,Holmes Osborne,(00047) 6194103,Cum.sociis.natoque@utodio.edu,"Jul 1, 1977",0.496502
1,Steven Yang,(030064) 049495,tincidunt.Donec@feugiatnecdiam.co.uk,"Sep 11, 1972",0.487364
2,George Goodwin,(08047) 6449507,ipsum.dolor.sit@Vivamuseuismodurna.ca,"Dec 13, 1975",0.450530
3,Jonah Jarvis,(06571) 6135898,eget.lacus.Mauris@Fuscedolorquam.ca,"Jul 15, 1964",0.616850
4,Talon Guerrero,(0207) 79183557,metus.vitae@magna.ca,"May 28, 1985",0.254252

In [4]:
import MySQLdb

In [7]:
#General database connection
user = "root"
passwd = ""
database = "facebook_api"
db = MySQLdb.connect(host="localhost", user=user, passwd=passwd, db=database)
cur = db.cursor()

In [10]:
# Gets a description of the database table
description_facebook_data_query = "describe facebook_data;"
cur.execute(description_facebook_data_query)
for row in cur.fetchall():
    print row

('Name', 'varchar(255)', 'YES', '', None, '')
('phone', 'varchar(255)', 'YES', '', None, '')
('email', 'varchar(255)', 'YES', '', None, '')
('date', 'varchar(255)', 'YES', '', None, '')
('percentage', 'varchar(255)', 'YES', '', None, '')

In [57]:
allData = []
try:
    for element in merged.index:
        name = merged.ix[element]['Name']
        phone = merged.ix[element]['phone']
        email = merged.ix[element]['email']
        date = merged.ix[element]['date']
        percentage = merged.ix[element]['percentage']
        query = "INSERT INTO facebook_data (Name,phone,email,date,percentage) VALUES ('"+name+"'"+","+"'"+name+"'"+","+"'"+name+"'"+","+"'"+name+"'"+","+"'"+name+"'"+");"     
        print query
        print cur.execute(query)
        break
except:
    print 'error'

INSERT INTO facebook_data (Name,phone,email,date,percentage) VALUES ('Holmes Osborne','Holmes Osborne','Holmes Osborne','Holmes Osborne','Holmes Osborne');
1

INSERT INTO table_name (column1,column2,column3,...)
VALUES (value1,value2,value3,...);